/* filename: style.css
** project:  FEND - Classic Arcade Game Clone
** author:   Colin Ashley
*/

body {
    text-align: center;
    font-family: 'Life Savers', cursive;
}

header {
  Font-size:  36px;
}

.container {
    background-color: white;
}

/* scoreboard elements */
.scoreBoard {
    font-size:  2em;
    margin:  1em auto 0 auto;
    width:  100%;
}

.scoreBoard .lives {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 3em 0 0;
}

.scoreBoard .lives li {
    list-style: none;
    display: inline-block;
    color:  violet;
}

/* for 'play again' modal and button */
.modal {
    background-color: white;
    text-align: center;
    width: 100%;
    height:  100%;
    border-radius: 10px;
    padding-top:  10%;
    position: fixed;
}